@font-face {
    font-family: myFirstFont;
    src: url(bright-regular-1.ttf);
 }
 @font-face {
    font-family: cinzel bold;
    src: url(Cinzel-Bold.otf);
 }
 
    header { background-color: #a4b2b0;
     padding: 5px;
      
   }
        
 
 * {
    font-family: myFirstFont;
 }
 body {
     background-color: #e1ddd3;
     background-repeat: no-repeat;
     background-position: right top;
     margin-right: 15px;
     background-attachment: fixed;
     background-size: cover;
 }
 ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #e1ddd3;
 }
 
 li {
   float: left; 
 }
 
 li a {
   display: block;
   color: rgb(0, 0, 0);
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
 }
 
 li a:hover:not(.active) {
   background-color: #c9d2d1;
 }
 
 .active {
   background-color: #a4b2b0;
 }
 input[type=text] {
   width: 30%;
   box-sizing: border-box;
   border: 0px solid #ccc;
   border-radius: 5px;
   font-size: 16px;
   background-color: white;
   background-image: url(search\ symbol.png);
   background-position: 10px 8px; 
   background-size: 5%;
   background-repeat: no-repeat;
   padding: 10px 20px 12px 40px;
   margin-left: 70%;
 }
ol {
  float: left;
  margin-right: 2%;
}

ol a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
}

ol a:hover:not(.active) {
color: #a4b2b0;
}
div.gallery {
  margin-top: 5%;
  margin-left: 10%;
  border: 0px solid #ccc;
}

div.gallery:hover {
  border: px solid #777;
}

div.gallery img {
  width: 100%;
  height: fit-content;
}

div.desc {
  font-family: cinzel;
  padding: 15px;
  text-align: left;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
